/********************/
/* Широкие десктопы */
/********************/
body {
    margin: 0;
    background-color: #f9d03c;
}

/********************/
/* Первая страница */
/********************/
  header {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    background-image: url("img/banner-wave.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    position: relative;
    padding-bottom: 50px;
  }
  
  header::before {
    content: "";
    background-image: url("img/banner-flag.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center top;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .header_banner {
    margin-top: 50px;
    width: 80%;
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    margin-right: auto;
  }
  
  .banner_picture {
    width: 65%;
    position: relative;
    margin-right: auto;
  }

  .banner_img {
    width: 100%;
  }

  .logo_picture {
    width: 100%;
  }

  .logo_img {
    width: 100%;
  }


  .header_contact {
    width: 30%;
    position: absolute;
    top: 10vh;
    right: 10vh;
    text-align: center;
  }
  
  h1 {
    width: 100%;
    text-align: center;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    font-size: 10vh;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
    color: #f9d03c;
  }

  header span {
    width: 100%;
    text-align: center;
    font-size: 5vh;
    display: block;
    padding-right: 10px;
  }
  
/********************/
/* Вторая страница */
/********************/

  h2 {
    width: 100%;
    text-align: center;
    font-size: 10vh;
    color: #ffffff;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
    margin-top: 0;
    margin-bottom: 0;
  }
  
  .advantage_card {
    display: block;
    width: 22%;
    margin: 30px;
    font-size: 3vh;
    text-align: center;
    color: #00b4ce;
  }

  .advantage_card span {
    display: block;
    width: 95%;
  }
  
  .adv_img_wrapper {
    width: 100%;
  }

  .advantage_picture {
    width: 100%;
  }

  .advantage_img {
    width: 100%;
  }

  .advantage_content {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
  }

/********************/
/* Третья страница */
/********************/

  .instructions {
    background-color: #00b4ce;
    padding-bottom: 30px;
  }
  
  .instructions_card_wrapper {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 3vh;
    text-align: center;
    color: #ffffff;
  }
  
  .instructions_card {
    width: 22%;
  }

  
  .instructions_card_img_wrapper {
    width: 100%;
  }
  
  .instructions_card_picture {
    width: 100%;
  }

  .instructions_card_img {
    width: 100%;
  }

  .reflection {
      transform: scale(-1, 1);
  }

/********************/
/* Четвертая страница */
/********************/
  .price_card_wrapper {
    display: flex;
    justify-content: space-around;
    padding-bottom: 50px;
    margin-top: 30px;
  }

  .price_card {
    width: 20%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .price_card_picture {
    width: 100%;
  }

  .price_card_img {
    width: 100%;
  }

  .price_card_img_wrapper {
    text-align: center;
    font-size: 5vh;
  }

  .price {
    display: block;
    padding-bottom: 1vh;
  }

  .price__navigation {
    display: none;
  }

  .order_button_phone {
    margin-top: 40px;
    background-color: #f9d03c;
    border: 5px solid #fff;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    display: none;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 5vh;
    line-height: 100px;
    min-height: 100px;
    font-style: oblique;
    color: black;
    background-image: url("img/messengers.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center right;
  }

  .order_button_mail {
    margin-top: 40px;
    background-color: #f9d03c;
    border: 5px solid #fff;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    border-radius: 40px;
    align-items: center;
    justify-content: center;
    position: relative;
    font-size: 5vh;
    line-height: 100px;
    min-height: 100px;
    font-style: oblique;
    color: black;
    width: 30vh;
  }

  .price__arrows {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }

/********************/
/* Пятая страница */
/********************/
  .examples_page {
    background-color: #00b4ce;
    position: relative;
  }

  .slider {
    width: 100%;
  }

  .slider__navigation {
    display: none;
  }

  .slider__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }

  .slider__item {
    width: 25%;
    margin: 50px;
  }

  .slider__arrows {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .slider__arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 4vh;
    color: #f9d03c;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    cursor: pointer;
  }
  
  .slider__arrow_next {
    right: 0;
  }
  
  .slider__dots {
    position: absolute;
    bottom: 20px;
    left: 50px;
    right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slider__dot {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #000;
    margin-right: 5px;
    cursor: pointer
  }
  
  .slider__dot_active {
    background: #fff;
  }
  
  .slider__dot:hover {
    background: #fff;
  }
  .examples_picture {
    width: 100%;
  }

  .examples_img {
    width: 100%;
  }

/********************/
/* Шестая страница */
/********************/
  .contact_page_wrapper {
    display: flex;
  }

  .footer_img {
    width: 100%;
    margin-left: auto;
  }

  .footer_picture {
    width: 100%;
    margin-left: auto;
  }
  
  .footer_img_wrapper {
    width: 50%;
    position: relative;
    margin-left: auto;
  }

  .footer_contact_wrapper {
    position: absolute;
    font-size: 4vh;
    color: #ffffff;
    text-align: center;
  }

  .footer_tel_link{
    text-decoration: none;
    color: inherit;
    display: block;
    width: 100%;
    background-image: url("img/messengers.png");
    background-repeat: no-repeat;
    background-position: 80% 50%;
    background-size: contain;
  }

  .socials {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    margin-left: 10vh;
  }
  
  .socials_link {
    width: 150px;
    height: 150px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    display: block;
  }
  
  .socials_item {
    margin-right: 25px;
  }
  
  .socials_item:first-child {
    margin-left: 30px;
  }
  
  .socials_item:hover {
    opacity: 0.5;
  }
  
  
  .socials_link_twitter {
    background-image: url("img/tw400.jpg");
  }
  
  .socials_link_ok {
    background-image: url("img/ok400.jpg");
  
  }
  
  .socials_link_vk {
    background-image: url("img/vk400.jpg");
  }
      
  .socials_link_instagram {
    background-image: url("img/inst400.jpg");
  }
  
  .social_link_text {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px)
  }

  
/*******************************************/
/****************Узкие десктопы*************/
/*******************************************/

  @media (min-width:1024px) and (max-width: 1400px) {
    
    /********************/
    /* Первая страница */
    /********************/
    
    .header_banner {
      margin-top: 50px;
    }
    
    .banner_picture {
      width: 70%;
    }
  
    .header_contact {
      width: 30%;
      top: 10vh;
      right: 10vh;
    }
    
    h1 {
      font-size: 10vh;
      margin-top: 0;
      margin-bottom: 10px;
    }
  
    header span {
      font-size: 4vh;
    }

  /********************/
  /* Вторая страница */
  /********************/

  h2 {
    font-size: 8vh;
  }

  /********************/
  /* Третья страница */
  /********************/


  /********************/
  /* Четвертая страница */
  /********************/
  /* .order_button_phone {
    font-size: 4vh;
    min-height: 70px;
  } */

  .order_button_mail {
    font-size: 4vh;
    min-height: 70px;
  }

  /********************/
  /* Пятая страница */
  /********************/

  .slider__item {
    width: 25%;
    margin: 25px;
  }

  /********************/
  /* Шестая страница */
  /********************/
  .footer_img {
    width: 100%;
    margin-left: auto;
  }

  .footer_picture {
    width: 100%;
    margin-left: auto;
  }
  
  .footer_img_wrapper {
    width: 80%;
    position: relative;
    margin-left: auto;
  }

  .socials_link {
    width: 100px;
    height: 100px;
  }

  .socials {
    margin-left: 5vh;
  }
  
  .socials_item {
    margin-right: 25px;
  }
  
  .socials_item:first-child {
    margin-left: 30px;
  }
  
  .socials_link_twitter {
    background-image: url("img/tw400.jpg");
  }
  
  .socials_link_ok {
    background-image: url("img/ok400.jpg");
  
  }
  
  .socials_link_vk {
    background-image: url("img/vk400.jpg");
  }
      
  .socials_link_instagram {
    background-image: url("img/inst400.jpg");
  }

}


@media (min-width:641px) and (max-width: 1023px) {
  /********************/
  /* Первая страница */
  /********************/
  .header_banner {
    margin-top: 30px;
    width: 100%;
  }

  .banner_picture {
    width: 80%;
  }

  .header_contact {
    width: 30%;
    top: 10vh;
    right: 5vh;
  }
  
  h1 {
    font-size: 6vh;
  }

  header span {
    font-size: 3.5vh;
  }
  
  /********************/
  /* Вторая страница */
  /********************/

  h2 {
    font-size: 6vh;
  }
  
  .advantage_card {
    width: 50%;
    font-size: 3vh;
    margin: 0;
    margin-top: 30px;
  }

  .advantage_content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
  }


  /********************/
  /* Третья страница */
  /********************/

  .instructions {
    padding-bottom: 30px;
  }
  
  .instructions_card_wrapper {
    flex-wrap: wrap;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    font-size: 3vh;
    text-align: center;
    color: #ffffff;
  }
  
  .instructions_card {
    width: 45%;
  }

  /********************/
  /* Четвертая страница */
  /********************/

  .price_card_wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 50px;
    margin-top: 30px;
    position: relative;
    justify-content: center;
  }

  .price_card {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    display: none;
  }

  .price_card_active {
    display: flex;
  }

  .price_card_picture {
    width: 100%;
  }

  .price_card_img {
    width: 100%;
  }

  .price_card_img_wrapper {
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.637);
    text-align: center;
    font-size: 5vh;
  }

  .price {
    display: block;
    padding-bottom: 1vh;
  }

  .order_button_phone {
    margin-bottom: 40px;
    font-size: 5vh;
    line-height: 70px;
    min-height: 70px;
    width: 75%;
    display: none;
  }

  .order_button_mail {
    margin-bottom: 40px;
    font-size: 5vh;
    line-height: 70px;
    min-height: 70px;
    font-style: oblique;
    color: black;
    width: 60%;
    display: block;
    z-index: 50;
    text-align: center;
  }
  
  .price__arrow {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 10vh;
    color: #00b4ce;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    cursor: pointer;
  }
  
  .price__arrow_next {
    right: 0;
  }

  .price__navigation {
    display: block;
  }



  /********************/
  /* Пятая страница */
  /********************/

  .slider__arrows {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  
  .slider__arrow {
    position: absolute;
    top: 50px;
    bottom: 55px;
    width: 100px;
    color: #f9d03c;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    cursor: pointer;
  }
  
  .slider__arrow_next {
    right: -50px;
  }

  .slider__arrow_prev {
    left: -50px;
  }

  .slider__dots {
    position: absolute;
    bottom: 20px;
    left: 50px;
    right: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slider__dot {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: #000;
    margin-right: 5px;
    cursor: pointer
  }
  
  .slider__dot_active {
    background: #fff;
  }
  
  .slider__dot:hover {
    background: #fff;
  }

  .slider {
    position: relative;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  .slider__items {
    width: 100%;
  }
  
  .slider__item {
    display: none;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .examples_img {
    width: 100%;
    object-fit: cover;
  }
  
  .slider__item_active {
    display: block;
  }

  .slider__navigation {
    display: block;
  }


  /********************/
  /* Шестая страница */
  /********************/
  
  .footer_contact_wrapper {
    font-size: 4vh;
    margin-top: 30px;
    margin-left: 30px;
    width: 50%;
  }

  .footer_tel_link{
    background-position: 100% 50%;
  }

  .socials_link {
    width: 50px;
    height: 50px;
  }

  .socials {
    margin-left: 1vh;
    margin-bottom: 0;
  }

  .socials_link_twitter {
    background-image: url("img/tw200.jpg");
  }
  
  .socials_link_ok {
    background-image: url("img/ok200.jpg");
  
  }
  
  .socials_link_vk {
    background-image: url("img/vk200.jpg");
  }
      
  .socials_link_instagram {
    background-image: url("img/inst200.jpg");
  }

  
}

@media (min-width:300px) and (max-width: 640px) {
  /********************/
  /* Первая страница */
  /********************/
  
  header {
    background-image: url("img/banner-wave-phone.png");
    padding-bottom: 15px;
    }

  .header_banner {
    margin-top: 30px;
    width: 100%;
  }

  .banner_picture {
    width: 80%;
  }

  .header_contact {
    width: 30%;
    top: 8vh;
    right: 2vh;
  }
  
  h1 {
    font-size: 4vh;
  }

  header span {
    font-size: 2.5vh;
  }

  .header_contact span {
    font-size: 2vh;
  }


  
  /********************/
  /* Вторая страница */
  /********************/

  h2 {
    font-size: 4vh;
  }
  
  .advantage_card {
    width: 45%;
    font-size: 2.5vh;
    font-weight: 700;
    margin: 0;
    margin-top: 30px;
  }

  .advantage_content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 30px;
  }
  
  .advantage_card span {
    padding: 5px;
  }

  /********************/
  /* Третья страница */
  /********************/

  .instructions {
    padding-bottom: 30px;
    padding-top: 10px;
  }
  
  .instructions_card_wrapper {
    flex-wrap: wrap;
    font-size: 3vh;
  }
  
  .instructions_card {
    width: 45%;
    margin-top: 15px;
  }

  /********************/
  /* Четвертая страница */
  /********************/

  .price_card_wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 15px;
    margin-top: 30px;
    position: relative;
    justify-content: center;
  }

  .price_card {
    width: 80%;
    display: none;
  }

  .price_card_active {
    display: flex;
  }

  .price_card_picture {
    width: 100%;
  }

  .price_card_img {
    width: 100%;
  }

  .price_card_img_wrapper {
    text-align: center;
    font-size: 5vh;
  }

  .price {
    display: block;
    padding-bottom: 1vh;
  }

  .order_button_phone {
    margin-top: 20px;
    font-size: 3.5vh;
    min-height: 50px;
    line-height: 50px;
    width: 75%;
    z-index: 50;
    display: flex;
  }

  .order_button_mail {
    font-size: 3.5vh;
    min-height: 50px;
    width: 50%;
    z-index: 50;
    display: none;
  }


  
  .price__arrow {
    position: absolute;
    top: 0;
    bottom: 120px;
    width: 5vh;
    color: #00b4ce;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    cursor: pointer;
  }
  
  .price__arrow_next {
    right: 0;
  }

  .price__navigation {
    display: block;
  }



  /********************/
  /* Пятая страница */
  /********************/

  .slider__arrow {
    width: 6vh;
  }

  .slider {
    position: relative;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  .slider__items {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .slider__item {
    display: none;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  
  .examples_img {
    width: 100%;
    object-fit: cover;
  }
  
  .slider__item_active {
    display: block;
  }

  .slider__navigation {
    display: block;
  }


  /********************/
  /* Шестая страница */
  /********************/
  
  .socials_link {
    width: 30px;
    height: 30px;
  }

  .socials {
    margin-left: 5px;
    margin-bottom: 0;
    margin-top: 10px;
  }
  
  .socials_item:first-child {
    margin-left: 10px;
}
  .socials_item {
    margin-right: 10px;
  }

  .footer_contact_wrapper {
    font-size: 3vh;
    margin-top: 10px;
    margin-left: 10px;
    width: 70%;
  }

  .footer_tel_link{
      background-position: 100% 50%;
  }

  .footer_img_wrapper {
      width: 60%;
  }

  .socials_link_twitter {
    background-image: url("img/tw100.jpg");
  }

  .socials_link_ok {
    background-image: url("img/ok100.jpg");

  }

  .socials_link_vk {
    background-image: url("img/vk100.jpg");
  }
      
  .socials_link_instagram {
    background-image: url("img/inst100.jpg");
  }

  
 



}